


<div class="menulateral">
    <div id="datos">
        <img src="../../../assets/pngegg.png" alt="" id="miavatar">
        <div id="nombre">{{nombre}}</div>
        <div id="nombre">{{rol}}</div>
    </div>
    <div class="itemmenu" routerLink="/usuarios"> Usuarios</div>
    <div class="itemmenu" routerLink="/productos"> Productos</div>
    <div class="itemmenu" routerLink="/suscriptores"> Suscriptores</div>
    <div class="itemmenu" routerLink="/pqrs"> PQRS</div>
    <div class="itemmenu" routerLink="/clientepqrs">Cliente PQRS</div>
    
</div>
