<app-header></app-header>
<body class="text-center">


    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      
  
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Dale solución a tus problemas</h1>
        <p class="lead">Es tiempo de que realices lo que siempre has querido hacer, no tienes que ser profesional en todas las áreas para hacer un buen proyecto, con Troubleless
          busca un profesional, publica esa tarea que no sabes como hacer o que sencillamente no quieres hacer, ¿una asesoria?, ¿recomendaciones?, ¿o necesitas un nuevo miembro para tu equipo?. <br> <br>
        no copies de nada, que no te detenga la incertidumbre, asesorate, contrata, o dale solución a tus problemas.</p>
        <p class="lead">
          <a routerLink="login" class="btn btn-lg btn-secondary" >Login</a>
        </p>
      </main>
  
      
    </div>
  
  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  
  
  </body>
  
<app-footer></app-footer>