<footer class="mastfoot mt-auto" id="footer">
    <div class="inner"> 
    <div id="footerProveedores">  Proveedor <br> Como encontrar trabajo?<br>como postularme a un pedido?<br>Como hago visible mi perfil?<br> </div>
    
    <div id="footerClientes"> cliente <br> Como postulo un trabajo?<br>como postular un pedido?<br>Como hago visible mi pedido?<br> Encontrar talento <br>  </div>
    <a routerLink="contactenos"> contactenos </a>   <br>

siguenos en nuestras redes sociales <img src="/imagenes/png-transparent-facebook-logo-computer-icons-facebook-logo-facebook-thumbnail.png" alt="">
<img src="/imagenes/png-transparent-logo-computer-icons-instagram-logo-miscellaneous-text-logo.png" alt="">
<img src="/imagenes/png-transparent-linkedin-computer-icons-blog-logo-watercolor-butterfly-angle-text-rectangle.png" alt="">
</div>

  </footer>
