<footer class="mastfoot mt-auto" id="footer">
    <div class="inner"> 
    <div id="footerProveedores">  Proveedor <br> Como encontrar trabajo?<br>como postularme a un pedido?<br>Como hago visible mi perfil?<br> </div>
    
    <div id="footerClientes"> cliente <br> Como postulo un trabajo?<br>como postular un pedido?<br>Como hago visible mi pedido?<br> Encontrar talento <br>  </div>
    <a routerLink="contactenos"> contactenos </a>   <br>

    
siguenos en nuestras redes sociales 
<div id="imagenescontactenos">
<img src="../../../assets/png-clipart-computer-icons-facebook-logo-original-color-business-card-desktop-wallpaper-logos.png" width="25px" height="25px" alt="">
<img src="../../../assets/png-transparent-linkedin-computer-icons-blog-logo-watercolor-butterfly-angle-text-rectangle.png"width="25px" height="25px" alt="">
<img src="../../../assets/png-transparent-logo-computer-icons-instagram-logo-miscellaneous-text-logo.png"width="25px" height="25px" alt="">
<div id="botonFlotante">
  <img src="WhatsApp_icon.png" height="25px" alt="iconoDeWhatsapp">
  <a href="https://wa.me/+573005797729?text=¡Estoy+interesado!"> Contactenos </a>
</div>
</div>
</div>

  </footer>
