<app-header></app-header>

<div id="registro">
    <div class="form-group">

        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre" >
          </div>

        <label for="email">Email</label>
        <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Email">
        
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Quieres recibir información de interés?</label>
      </div>
      
      <div class="hoja de vida">
        <label for="exampleFormControlFile1"> CV o Hoja de vida</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div> 

      <button type="submit" class="btn btn-primary">Registrarse</button>
</div>
    



